APP_ENV=local
LOG_LEVEL=info
SHUTDOWN_TIMEOUT=20s
WORKER_COUNT=10

HTTP_HOST=localhost
HTTP_PORT=8080

PG_HOST=localhost
PG_PORT=5432
PG_NAME=demo
PG_USER=demo
PG_PASS=demo
PG_SSL=disable

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=demo
